<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><i class="fa fa-clock" aria-hidden="true"></i> World Clock</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Converter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main">
  <div class="container">
    <timer-list></timer-list>
  </div>
</div>

<!--<hr>
<h1>World Clock using slider...</h1>

<div>
<h4>Local Time :  {{sliderFormattedTimeLocal}}</h4>
<p-slider 
  [(ngModel)]="sliderValueLocal" 
  [min]="1" 
  [max]="slider_max" 
  [step]="1" 
  (onChange)="handleSliderChange($event,'local')" >
</p-slider>
Value from slider : {{sliderValueLocal}}
</div>

<div>
<h4>Chennai Time :  {{sliderFormattedTimeChennai }}</h4>
<p-slider 
  [(ngModel)]="sliderValueChennai" 
  [min]="1" 
  [max]="slider_max" 
  [step]="1" 
  (onChange)="handleSliderChange($event,'chennai')" >
</p-slider>
Value from slider : {{sliderValueChennai}}
</div>

<div>
<h4>Melbourne Time :  {{sliderFormattedTimeMelbourne}}</h4>
<p-slider 
  [(ngModel)]="sliderValueMelbourne" 
  [min]="1" 
  [max]="slider_max" 
  [step]="1" 
  (onChange)="handleSliderChange($event,'melbourne')" >
</p-slider>
Value from slider : {{sliderValueMelbourne}}
</div>
<hr>-->
