<h3>
  Local : 
  <input type="text" [(ngModel)]="tz_local" #localtime (keyup.enter)="updateTime(localtime.value)">
</h3>
<h3>
  America/New_York : {{tz_newYork}}
</h3>
<h3>
  America/Los_Angeles : {{tz_losAngeles}}
</h3>
<h3>
  Europe/London : {{tz_london}}
</h3>
<h3>
  Chennai/India : {{tz_chennai}}
</h3>
<h3>
  Melbourne/Australia : {{tz_melbourne}}
</h3>
<hr>
<h1>World Clock using slider...</h1>

<div>
<h4>Local Timezone :  {{local_unix}}</h4>
<p-slider name="local" [(ngModel)]="val" [min]="0" [max]="slider_max" [step]="1" (onChange)="handleSliderChange($event,'local')" ></p-slider>
Value from slider : {{val}}
</div>

<div>
<h4>Chennai Timezone :  {{zone1_unix }}</h4>
<p-slider [(ngModel)]="zone1" [min]="0" [max]="slider_max" [step]="1" (onChange)="handleSliderChange($event,'chennai')" ></p-slider>
Value from slider : {{zone1}}
</div>

<div>
<h4>Melbourne Timezone :  {{zone2_unix}}</h4>
<p-slider [(ngModel)]="zone2" [min]="0" [max]="slider_max" [step]="1" (onChange)="handleSliderChange($event,'melbourne')" ></p-slider>
Value from slider : {{zone2}}
</div>
<hr>


